<!-- Feature section -->
<section class="feature-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 p-0">
                <div class="feature-item set-bg" data-setbg="/images/slider-1.jpg">
                    <span class="cata new">new</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Sudoku Puzzle</a></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="feature-item set-bg" data-setbg="/images/slider-2.jpg">
                    <span class="cata new">new</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Tetris</a></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="feature-item set-bg" data-setbg="/images/slider-3.jpg">
                    <span class="cata new">new</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Brick Breaker</a></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="feature-item set-bg" data-setbg="/images/slider-4.jpg">
                    <span class="cata new">new</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Tic Tac Toe</a></h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>