<!-- Header section -->
<header class="header-section">
	<div class="container">
		<!-- logo -->
		<a class="site-logo" href="/">
			<h4 style="color:white">VARN</h1>
		</a>
		<div class="user-panel">
			<a href="#">Login</a>  /  <a href="#">Register</a>
		</div>
		<!-- responsive -->
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<!-- site menu -->
		<nav class="main-menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/reviews">Games</a></li>
			</ul>
		</nav>
	</div>
</header>
<!-- Header section end -->


    