---
import Feature from "./Feature.astro";
import Latest from "./Latest.astro";


---
<div>
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="/images/slider-1.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2><span>Sudoku</span> Puzzle</h2>
                        <p>Stimulates your mind: The game works on your logical thinking <br> process as you are absorbed in solving a puzzle and eventually <br> improve your number skills.</p>
                        <a href="/sudoku" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-2.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2><span>Tetris</span></h2>
                        <p>The study showed that regular Tetris playing allowed the brain to <br> perform more optimally and even increased the thickness of the <br> cerebral cortex. Prolonged Tetris activity can also lead to more efficient <br> brain activity during play.</p>
                        <a href="/tetris" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-3.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2>Brick <span>Breaker</span></h2>
                        <p>The game's objective is to eliminate all of the BRICKS at the top of the screen <br> by hitting them with the BALL. But, if the ball hits the bottom ENCLOSURE, <br> the player loses and the game ends! To win the game, all the BRICKS must be eliminated.</p>
                        <a href="/brickbreaker" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-4.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2>Tic Tac <span>Toe</span></h2>
                        <p>Tic Tac Toe can be used to promote a number of cognitive skills <br> including counting and spatial skills, and color and shape identification. <br> Tic Tac Toe is almost not a game, but a philosophical exercise, <br> teaching the strength of controlling someone else's actions.</p>
                        <a href="/tictactoe" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <Latest />
    <Feature />
</div>
