---
import Feature from "./Feature.astro";
import Latest from "./Latest.astro";


---
<div>
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="/images/slider-1.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2><span>Sudoku</span> Puzzle</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus finibus.</p>
                        <a href="#" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-2.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2><span>Tetris</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus finibus.</p>
                        <a href="#" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-3.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2>Brick <span>Breaker</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus finibus.</p>
                        <a href="#" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/images/slider-4.jpg">
                <div class="hs-text">
                    <div class="container">
                        <h2>Tic Tac <span>Toe</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus finibus.</p>
                        <a href="#" class="site-btn">Play Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <Latest />
    <Feature />
</div>
